<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="API Tests">
        <classes>
            <class name="com.automation.framework.api.ApiTests"/>
        </classes>
    </test>
    <test name="UI Tests">
        <classes>
            <class name="com.automation.framework.ui.UiTests"/>
        </classes>
    </test>
</suite>